# Copy to test/subsystem/.env before any make *-subsystem-test-up.
POSTGRESQL_USER=test_user
POSTGRESQL_PASSWORD=test_password
DB_USER=test_user
DB_PASSWORD=test_password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
DCM_DEV_USER_PASSWORD=admin
AUTH_PROXY_SECRET=test-proxy-secret
AUTH_ISSUER_URL=http://keycloak:8080/realms/dcm
AUTH_JWT_AUDIENCE=dcm-api
DCM_ADMIN_SUBJECT=56deb662-4820-5d83-b828-f4beb11a5fa7
